<h1> Book </h1>
<p>{{book.title}}</p>
<p>{{book.published}}</p>
<p>{{book.author.name}}</p>
<a href="/authors/{{book.author._id}}">{{book.author.name}}</a>

{{!-- challenge: make the author clickable to take you to the author show page --}}

